<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <div class="form-group" style="max-width:500px; position:relative; margin:auto;">
    <input class="form-control" type="text" placeholder="Player Name" required #name><br>
    <input class="form-control" type="text" placeholder="Age" required #age><br>
    <select class="form-control" ><br>
      <option *ngFor="let val of roles">{{val}}</option>
    </select><br>
    <button (click)="addPlayer(name.value, 'Batsman', age.value)" class="btn btn-primary" style="margin-right:5px;">Add Player</button>
  </div>
  <br>
  <div class="form-group" style="max-width:500px; position:relative; margin:auto;">
    <table class="table table-striped">
      <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Role</th>
          <th>Age</th>
      </tr>
      <tr *ngFor="let cp of players" tableRowHighlight [ngStyle]="{'color':(players.indexOf(cp) + 1) % 2 == 0 ? 'Green' : 'Red' }">
        <td>{{players.indexOf(cp) + 1}}</td>
        <td>{{cp.name}}</td>
        <td>{{cp.role}}</td>
        <td>{{cp.age}}</td>
      </tr>
    </table>
  </div>
 </div>


